.div1{
            border: 2px solid blue;
            position: absolute;
            left:200px;
            top:200px;
            width:1000px;
            height: 300px;
            background: lightgreen;
            border-radius: 10px;
            text-align: center;
            }
.div2{
            position: absolute;
            left: 400px;
            border: 2px solid aqua;
            width: 150px;
            height:150px;
            border-radius: 25px;
            }
.img1{
            width:100%;
            height:100%;
            border-radius: 25px;
            }
h1{
            position: absolute;
            top:100px;
            left:600px;
            }